<div id="room-display" class="main">
	<h1 id="header">Pokój 1</h1>
	<h2>{{ test_id }}</h2>
	<div class="switch-wrapper">
		<div style="margin-right: 30px;">Lampa Biurko</div>
		<label class="switch">
		  <input id="checkbox" type="checkbox">
		  <span class="slider"></span>
		</label>
	</div>
	<div class="charts-container">
		<div class="chart-container">
			<canvas id="c1"></canvas>
		</div>
		<div class="chart-container">
			<canvas id="c2"></canvas>
		</div>
		<div class="chart-container">
			<canvas id="c3"></canvas>
		</div>
		<div class="chart-container">
			<canvas id="c4"></canvas>
		</div>	
	</div>
</div>