.room-button {
	border: none;
	background-color: #FF3F00;
	color: white;
	padding: 15px 32px;
	width: 60%;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
}

.all-relays-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	background-color: #FF3F00;
	border: 3px solid #FF3F00;
	color: #fff;
	padding: 8px 12px;
	padding-top: 2px;
	text-align: center;
	border-bottom-left-radius: 34px; 
	border-bottom-right-radius: 34px; 
	cursor: pointer;
}

#all-on {
	margin-right: 185px;
}

#all-off {
	margin-right: 30px;
}