/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;

}
.main {
			margin-left: 20vw;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 80vw;
			min-height: 100vh;
			/*padding-left: 50px;*/
			/*padding-right: 50px;*/
		}

.chart-container {
	position: relative;
	width: 400px;
	margin-bottom: 30px;
}
#side-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	height: 100vh;
	background-color: #FF7F11;
	color: #fff;
	text-align: center;
}
#room-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.room-button {
	border: none;
	background-color: #FF3F00;
	color: white;
	padding: 15px 32px;
	width: 60%;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 10px;
	cursor: pointer;
}
.switch-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 30px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.charts-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.software {
	margin-top: 50px;
}
.software-form {
	display: flex;
	justify-content: center;
	align-items: initial;
	flex-direction: column;
	text-align: center;
}
.software-form > * {
	margin: 5px;
}